<?xml version="1.0"?>
<robot name="visual">

<material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>

      <geometry>
          <mesh filename="package://modularm/meshes/base_link.stl" scale="10 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>